body{
    margin: 0px ;
}
.big-boi{
    font-family: 'Lexend Mega', sans-serif;
    background-color: rgb(41, 30, 39);
    font-weight: bold;
    margin-bottom: 300px;
    height: 80em;
}
.left-side{
color: azure;
border-top: rgb(3, 3, 3);
margin-top: -50px;
margin-inline-start: 45px ;
display: grid;
grid-template-columns: .1fr;
width: 1000px ;
display: grid;
}
.left-sidee>.left-side p{
    filter: brightness(40%);
    display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}
.left-sidee>.left-side p:hover{
    background-color: maroon;
    letter-spacing: 1px;
    color: rgb(222, 245, 12);
}
.left-side :nth-child(1){
color: khaki;
}
.side-bar{
    border-bottom: solid;
    background: white;
    border-radius: 4px;
    background-image: repeating-linear-gradient(to right, #c4e17f 50px, #f7fdca 50px, #fad071 50px, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
}
.left-side :nth-child(13) {
    color: rgb(24, 26, 24);
    background-color: lawngreen;
}
.search-bar>.form-group>.icon-search {
    position: relative;
}
.search-bar>.form-group>.icon-search i{
   position: absolute;
   margin-top: .4px;
   width: 18px;
   left: -28px;
   margin-left: 7.7px;
   background-color:rgba(240, 216, 216, 0.979);
   padding: 3px;
   border-radius: 4px;
}
.icons-search i{
    width: 20px;
    background-color: aliceblue;
    border-radius: 4px;
    padding: 10px;
    color: rgb(98, 5, 141);
    background-color: rgb(243, 72, 60);
}
.icons-search i:hover{
    transition: 2s;
    cursor: pointer;
    font-weight: bold;
}
.search-bar {
    display: flex;
}
.more-wrappers {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: -10em;
}
.login{
   height: 30px;
   margin-left: 2em;
   font-size: 27px;
}
.login a {
    text-decoration: none;
    outline: none;
    color: chocolate;
}
